In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../../../data/freq/freq.csv')
df.head()

       ngram  freq
0          A   278
1        A-A     1
2       A-AN     4
3  A-AN-gin7     1
4       A-BA     1

In [8]:
syllables = set()
for ngram in df.ngram:
    try:
        for syl in ngram.split('-'):
            syllables |= {syl}
    except:
        print(f'Could not process {ngram}')

Could not process nan

In [12]:
syllables = sorted(list(syllables))
syllables[:10]

['171en187',
 '60ce3',
 '60ci62',
 '60x7fenx7f62',
 '9GANA2',
 '9dal',
 '9u18',
 'A',
 'A1',
 'A10']

In [13]:
syllables = syllables[7:]
syllables[:20]

['A',
 'A1',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'A16',
 'A17',
 'A18',
 'A19',
 'A2',
 'A20',
 'A21',
 'A22',
 'A23',
 'A24',
 'A25',
 'A26']

In [15]:
syllables[-20:]

['zil',
 'zil2',
 'zimbirki',
 'zirru',
 'ziz2',
 'zu',
 'zu2',
 'zu7',
 'zuE2',
 'zub',
 'zubi',
 'zug4',
 'zuh',
 'zukum',
 'zulumhi',
 'zum',
 'zuma',
 'zumki',
 'zur',
 'zur4']

In [16]:
len(syllables)

3326

In [18]:
out = pd.DataFrame({'syll': syllables, 'unicode': ''})
out.head()

  syll unicode
0    A
1   A1
2  A10
3  A11
4  A12

In [19]:
!ls ../../../data

corpus                               sumerianTransliterationUnicode.json
corpus_clean                         sumerian_transliteration_unicode.csv
freq                                 transliterator.json

In [20]:
out.to_csv('../../../data/syll_to_unicode.csv', index=False)